body{
    margin: 20px;
    padding: 0;
    background: #333;
}

.container{
    max-width: 760px;
    margin: auto;
    border: #fff solid 5px;
    background: #ffff;
}
.main-img img,.imgs img{
    width: 100%;

}
.imgs img{
    cursor: pointer;
}

.imgs{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 3px;
}